.DS_Store
objdir
toolsdir
*-build
autoconf-2.64.tar.bz2
autoconf-2.64/
automake-1.11.1.tar.bz2
automake-1.11.1/
avr-binutils.tar.bz2
binutils
avr-gcc.tar.bz2
gcc
avr-gdb.tar.bz2
gdb
avr-libc.tar.bz2
avr-libc/
avr8-headers.zip
avr8-headers/
gcc-7.3.0.tar.xz
gmp-5.0.2.tar.bz2
mpc-0.9.tar.gz
mpfr-3.1.0.tar.bz2
avr
atpack
avr-gcc-7.3.0-atmel3.6.1-arduino7-x86_64-pc-linux-gnu.tar.bz2
